# Data Science Tools and Ecosystem

In this notbook, Different Data Science tools and Ecosystem are briefly described

**Objectives:**
* Data Science Languages
* Data Science Libraries
* Data Science Tools
* Introduction to arithmetic expressions in notebooks
* Author

Following are the few data science languages commonly used by data scientists:
1. Phython
2. Java
3. C++
4. R
5. SQL

Some of the commonly used data science libraries in Phython are listed below:
1. Numpy
2. Scipy
3. Pandas
4. TensorFlow
5. Matplotlab

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|MLFlow            |
|Pytorch           |

### Below are the few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*5)+2

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author:
Farzana K